.block{
  max-width: 100%;
  max-height: 100%;
}
strong {
  font-weight: 900;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Власні стилі
body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: #ffffff;
  overflow-x: hidden;
}
.resume {
   width: 100%;
   height: 100%;
   margin: 0 auto;
  // background-color: white;
   border-radius: 8px;
   padding: 0;
   display: flex;
   flex-direction: row;
 }
.left-col, .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-col {
      width: 100%;
      align-items: flex-start;
      padding: 60px;
      margin-top: 100px;
}
.right-col {
   width: 885px;
   height: auto;
 }
.header{
  margin-top: -150px;
}
.name, .surname {
  color: #000;
  font-size: 100px;
  font-weight: 400;
}
.surname {
  margin-top: -20px;
}
.title{
    color: #000;
    font-size: 45px;
    font-weight: 550;
  }
.under_header{
  margin-top: 40px;
}
.inf1{
  margin-top: 60px;
}
.subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5{
  color: #ffffff;
  background-color: #000;
  font-size: 35px;
  font-weight: 700;
  //line-height: 50px;
  margin-top: 115px;
  //width: 80%;
  line-height: 150%;
  padding: 0 80px 0 20px;

}
.subtitle1{
  margin-top: 115px;
  width: 80%;
}
.subtitle2{
  margin-top: 85px;
  width: 40%;
}
.subtitle3{
   color: #000;
   background-color: #ffffff;
   line-height: 40px;
   margin-left: 63px;
   margin-top: 63px;
   width: 18%;
 }
.contact1{
  font-size: 26px;
  font-weight: 500;
  margin-top: 50px;
}
.contact2{
  color: darkslategray;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-block-end: 5px;
}
.contact3{
   color: #ffffff;
   font-size: 26px;
   font-weight: 500;
   margin-top: 30px;
   margin-left: 63px;
  line-height: 140%;
 }

.imag {
  width:100%;
  height: auto;
  object-fit: cover;
}
.dark_blue{
  width: auto;
  height: 335px;
  background-color: #071117;
  color:white;
}
.skill1, .skill2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3.5%;
}
.skill1{
  width: 37%;
  align-items: flex-start;
  //padding: 60px;
  //margin-top: 100px;
}
.skill2{
  width: 62%;
  margin-top: 19%;
  margin-left: -10px ;
 // line-height: 200%;
  //height: auto;
  //height: 15%;
}
.subtitle4{
  //margin-top: -2%;
  //line-height: 150%;
  width: 100%;
  padding: 0 25px 0 30px;
}
.contact4{
  color: lightslategray;
  //font-palette: dark;
  font-size: 28px;
  margin-top: 12%;
  line-height: 200%; //line-height: 55px;
}
.progress-bar {
  width: 48%; /* Ширина всієї смужки */
  height: 10px; /* Висота смужки */
  background-color: #e0e0e0; /* Колір фону */
  margin-bottom: 15px; /* Відступ між смужками */
  //line-height: 200%;
 // height: 15%;
  margin-top: 5.5%;
  //overflow: hidden;
}
.progress {
  height: 100%;
  background-color: #000; /* Колір прогресу */
}
.skills-section{
   margin-top: 3%;
 }
.skill span {
  color: #333;
  width: 150px;
}
.skill-bar {
  width: 30%;
  height: 8px;
  border-radius: 5px;
  margin-left: 400px;
  overflow: hidden;
}
.skills-columns {
  display: flex;
  justify-content: space-between;
}
.level {
  background-color: #000;
  height: 100%;
  //border-radius: 5px;
}
.subtitle5{//sub3
  margin-top: 85px;
  width: 40%;
}